<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Blog | My Lil Blog</title>
  <link rel="stylesheet" href="./static/css/app.css">
</head>
<body>
  <div>
    My Lil Blog
  </div>
  <nav>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs">Blogs</a></li>
    </ul>
  </nav>
  <h3>Add a lil blog</h3>
  <label>
    Title: 
    <input id="title"/>
  </label>
  <br/>
  <label>
    Blog's body: 
    <textarea id="blog"></textarea>
  </label>
</body>
</html>