<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blogs | My Lil Blog</title>
  <link rel="stylesheet" href="./static/css/app.css">
</head>
<body>
  <div>
    My Lil Blog
  </div>
  <nav>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs">Blogs</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
  <h3>Blogs</h3>
  <p>Below is the list of all the blogs</p>
  <ul id="blog-list">
  </ul>
</body>
</html>