<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | My Lil Blog</title>
  <link rel="stylesheet" href="./static/css/app.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs">Blogs</a></li>
    </ul>
  </nav>
  <label>
    Username: 
    <input id="username" type="text"/>
  </label>
  <label>
    Password: 
    <input id="password" type="password"/>
  </label>
  <button id="login-btn">Login</button>
  <script src="static/js/login.js"></script>
</body>
</html>